.divPdfPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 50px 100px auto 100px;
  min-width: 21cm;
  max-width: 21cm;
  min-height: 29cm;
  height: fit-content;
  background: white;
}
