.loadingDiv {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  animation-name: loadingAni;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: lightblue;
}

@keyframes loadingAni {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
